.categoriesSection {
  padding-top: 50px;
  background-color: white;
  width: 70%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.selectedCats{
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 1024px) {
  .categoriesSection {
    height: 300px;
  }
}

@media screen and (max-width: 769px) {
  .categoriesSection {
    width: 80%;
    padding-top: 20px;
    height: 200px;
  }
}