.hamburgerMenu {
  display: none;
}
@media screen and (max-width: 1024px) {
  .hamburgerMenu {
    display: block;
    position: relative;
    top: -5px;
    left: -25px;
    z-index: 1000;
  }

  .hamburgerIcon {
    color: white;
    font-size: 40px;
    cursor: pointer;
  }

  .menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: white;
    border: 2px solid #00a651;
    border-radius: 8px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .menu.open {
    display: block;
  }

  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .menu li {
    padding: 15px;
    text-align: center;
    cursor: pointer;
  }

  .menu li a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #00843d;
    font-size: 15px;
    font-weight: 500;
    display: block;
  }

  .menu li:hover {
    background-color: #00843e55;
  }
}
@media screen and (max-width: 768px) {
  .hamburgerMenu {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1000;
  }

  .hamburgerIcon {
    color: white;
    font-size: 40px;
    cursor: pointer;
  }

  .menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: white;
    border: 2px solid #00a651;
    border-radius: 8px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .menu.open {
    display: block;
  }

  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .menu li {
    padding: 15px;
    text-align: center;
    cursor: pointer;
  }

  .menu li a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #00843d;
    font-size: 15px;
    font-weight: 500;
    display: block;
  }

  .menu li:hover {
    background-color: #00843e55;
  }
}
