.detailSect {
  /* esto es para que el detalle no quede atras del nav */
  height: calc(
    100% - 90px
  ); /* esto es para que el footer quede pegado abajo, cambiar 100vh por 100% y 298px por 90px cuando el detalle ocupe mas del 100% de la pantalla */
  background-color: white;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Condensed";
}

.divGral {
  margin-top: 20vh;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.derechoDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btnCerrar {
  background: none;
  border: none;
  cursor: pointer;
}

.btnCerrar img {
  height: 20px;
}

.primerDiv {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  height: 360px;
}

.divNombreYBoton {
  display: flex;
  justify-content: space-between;
}

.contenidoMod {
  background: white;
  padding: 20px;
  border-radius: 20px;
  border: 4px solid #d0fdd7;
  font-family: "Roboto Condensed";
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.contenidoMod ul {
  padding: 0;
  margin: 0;
}

.contenidoMod li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 25px;
}

.contenidoMod li p {
  margin: 0;
}

.precioP {
  color: #00843d;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.precioP span {
  color: black;
}

.nombreSt {
  font-weight: 700;
}

.imgDiv img {
  height: 160px;
  margin: 20px;
}

.imgDiv {
  border-radius: 50px;
  text-align: center;
}

.btnAgregar {
  background: #01ac5c;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 10px 90px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin: 25px 0;
}

.btnAgregar a {
  text-decoration: none;
  color: white;
}

.divBtn {
  text-align: center;
}

.divCaracteristicas {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  border: 4px solid #d0fdd7;
  font-family: "Roboto Condensed";
  box-sizing: border-box;
  width: 100%;
  height: 200px;
}

.divCaracteristicas h3 {
  color: #00843d;
  font-size: 25px;
  padding: 5px 20px;
}

.listaCaracteristicas {
  margin-top: 30px;
  display: flex;
  margin-left: 0;
  justify-content: flex-start;
  margin-right: 10%;
}

.listaCaracteristicas li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.listaCaracteristicas li img {
  height: 30px;
}

.listaCaracteristicas li p {
  margin: 0;
  padding-left: 20px;
  font-weight: 500;
}
.btnAgregarDisabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
  padding: 10px 90px;
  border: none;
  border-radius: 50px;
  margin: 25px 0;
}

.allImgsDiv {
  border: 3px solid #d0fdd7;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgOptionBtn {
  cursor: pointer;
  border: none;
  background-color: white;
  border-radius: 10%;
  padding: 10px;
  margin: 10px;
  transition: background-color 0.5s ease;
}

.imgOptionBtn:hover {
  background-color: #d0fdd7;
}

.imgOptionBtn img {
  height: 50px;
}

.horarioContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
}

.horarioWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #00843d;
  border-radius: 30px;
  width: 100%;
  background-color: #f9f9f9;
  padding: 5px 10px;
}

.horarioLabel {
  background-color: #00843d;
  color: white;
  padding: 10px;
  border-radius: 30px 0 0 30px;
  margin-right: 10px;
}
.horarioSelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dropdownButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #00843d;
}

.horarioDropdown {
  position: relative;
  top: 1%;
  left: 40%;
  max-height: 150px;
  border: 1px solid #00843d;
  border-radius: 5px;
  background-color: #f9f9f9;
  z-index: 1;
  overflow-y: auto;
}

.horarioLista {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.horarioItem {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.horarioItem:hover {
  background-color: #d4f0d4;
}

.calendarioPadre {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.calendarioPadre h3 {
  font-size: 20px;
  color: #228b22;
}

.disabledHorario {
  pointer-events: none;
  opacity: 0.6;
  color: red;
}

.disabled {
  background-color: gray;
  pointer-events: none;
  text-decoration: line-through;
}

.react-datepicker__day--disabled {
  color: #ccc; /* Color de texto para los días deshabilitados */
  background-color: #f0f0f0; /* Fondo para los días deshabilitados */
}

.favButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.filledIcon {
  color: red;
  transform: scale(1);
}

.favButton .filledIcon {
  color: green;
}

@keyframes bounce {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.bouncingIcon {
  animation: bounce 0.3s ease;
}

@media screen and (max-width: 1700px){
  .divGral {
    width: 95%;
  }
}

@media screen and (max-width: 1440px) {
  .detailSect {
    height: auto; /* Cambiar la altura para que se ajuste dinámicamente */
    margin: 50px 0;
    padding-top: 10vh;
  }

  .calendario {
    margin-top: 180px;
  }
  .divGral {
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    width: 90%;
  }
  .derechoDetail h3 {
    display: none;
  }

  .listaCaracteristicas {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
  }

  .divCaracteristicas {
    margin-top: 240px;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .divGral {
    width: 90%; /* Asegurarse de que la sección general ocupe el ancho completo */
  }

  .detailSect {
    width: 100%;
  }

  .divCaracteristicas {
    margin-left: 0;
    width: 100%;
  }

  .listaCaracteristicas {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-right: 0;
    margin-top: 10px;
  }
  .listaCaracteristicas li p {
    padding-left: 5px;
    font-size: 10px; /* Ajustar el tamaño de la fuente */
  }
  .listaCaracteristicas img {
    height: 20px;
  }
}

@media screen and (max-width: 769px) {
  .divCaracteristicas {
    height: auto;
    width: 100%;
  }

  .listaCaracteristicas li img {
    height: 20px;
  }

  .listaCaracteristicas li p {
    padding-left: 5px;
    font-size: 10px;
  }

  .listaCaracteristicas {
    padding: 0;
    margin-right: 0;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .listaCaracteristicas li {
    margin: 10px;
  }

  .divCaracteristicas h3 {
    font-size: 18px;
    padding: 2px 15px;
  }
}

@media screen and (max-width: 550px) {
  .listaCaracteristicas li {
    justify-content: space-between;
    margin-left: 0;
  }

  .divCaracteristicas {
    height: 300px;
  }

  .primerDiv {
    margin-bottom: 55px;
    width: 100%;
    height: 286px;
  }
  .imgOptionBtn img {
    width: 42px;
    height: 42px;
  }

  .contenidoMod {
    width: 90vw;
    height: 230px;
  }
}
