.detailSect{
    padding-top: 90px; /* esto es para que el detalle no quede atras del nav */
    height: calc(100vh - 298px); /* esto es para que el footer quede pegado abajo, cambiar 100vh por 100% y 298px por 90px cuando el detalle ocupe mas del 100% de la pantalla */
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Condensed";
}

.divGral{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.btnCerrar{
    background: none;
    border: none;
    cursor: pointer;
}

.btnCerrar img{
    height: 20px;
}

.primerDiv{
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: space-between;
    height: 286px;
}

.divNombreYBoton{
    display: flex;
    justify-content: space-between;
}

.contenidoMod {
    background: white;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #01ac5c;
    font-family: "Roboto Condensed";
    width: 450px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.contenidoMod ul{
    padding: 0;
    margin: 0;
}

.contenidoMod li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 25px;
}

.contenidoMod li p{
    margin: 0;
}

.precioP {
    color: #00843d;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.precioP span{
    color: black;
}

.nombreSt {
    font-weight: 700;
}

.imgDiv img{
    height: 160px;
    margin: 20px;
    filter: drop-shadow(5px 5px 5px #222);
}

.imgDiv{
    border-radius: 50px;
    text-align: center;
}

.btnAgregar {
    background: #01ac5c;
    color: white;
    font-family: "Roboto", sans-serif;
    padding: 10px 90px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin: 25px 0;
}

.divBtn{
    text-align: center;
}