.divPadre {
  padding-top: 110px; /* esto es para que el detalle no quede atras del nav */
  height: 100%;
  background-color: white;
  width: 100%;
  display: flex;
  font-family: "Roboto Condensed";
}

.panelAdmin {
  margin: 80px 40px;
  height: 850px;
  background-color: #01ac5c;
  width: 17%;
  border-radius: 15px;
}

.panelAdmin h3 {
  margin-top: 20px;
  font-weight: 400;
  color: white;
  text-align: center;
  font-size: 30px;
}

.divAdminBtns {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.adminBtn {
  display: flex;
  align-items: center;
  border: none;
  background-color: #01ac5c;
  cursor: pointer;
  color: white;
  font-family: "Roboto Condensed";
  font-weight: 600;
  font-size: 20px;
  height: 80px;
}

.adminBtn img {
  margin: 0 15px 0 25px;
  height: 30px;
}

.divAdminRoutes {
  width: 70%;
}
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup {
  background-color: white;
  border: 2px solid #00a651;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.warning {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}
.acceptButton {
  background-color: #00a651;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.acceptButton:hover {
  background-color: #008c42;
}

.ifNotAdminDiv{
  padding-top: 110px; /* esto es para que el detalle no quede atras del nav */
  height: calc(100vh - 200px);
  display: flex;
  align-items: center;
}

.ifNotAdminDiv h3{
  width: 100%;
  text-align: center;
}