header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #01ac5c;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.headerDivs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.sloganContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.slogan {
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 17px;
}
.sloganSegundo {
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 17px;
  margin-top: 5px;
}
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
}
.logo img {
  width: 136px;
  height: 73px;
}
.logo .separator {
  border-left: 2px solid white;
  height: 75px;
  margin: 0 10px;
}
.navLinks {
  display: flex;
  align-items: center;
}

.navLinks ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin: 0 10px;
}
.navLinks a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  transition: color 0.3s;
}
.navLinks a:hover {
  color: rgb(209, 209, 209);
}
.botonesHeader {
  display: flex;
  align-items: center;
  margin-right: 70px;
}
.btn {
  background: none;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.btn:hover {
  background-color: white;
  color: #01ac5c;
}
.userIcon {
  display: none;
}
.cartIcon {
  display: none;
}

@media screen and (max-width: 1024px) {
  .navLinks,
  .botonesHeader {
    display: none;
  }
  .sloganContainer,
  .separator {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .logo {
    margin-left: 60px;
    flex: 1;
  }

  .userIcon {
    display: block;
    position: absolute;
    right: 120px;
  }

  .userIcon img {
    width: 30px;
    height: auto;
  }
  .cartIcon {
    display: block;
    position: absolute;
    right: 60px;
  }

  .cartIcon img {
    width: 35px;
    height: auto;
  }
  .dropdownMenu {
    position: absolute;
    top: 80px; /* Ajusta según la altura de tu header */
    right: 60px; /* Ajusta según tu diseño */
    background-color: white;
    border: 2px solid #00843d;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
  }

  .menuButton {
    display: flex;
    flex-direction: column;
    background: #00843d;
    color: white;
    border: solid;
    border-radius: 30px;
    padding: 7px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .navLinks,
  .botonesHeader,
  .sloganContainer,
  .separator {
    display: none;
  }

  .logo {
    margin-left: 60px;
    flex: 1;
    justify-content: space-between;
  }

  .userIcon {
    display: block;
    position: absolute;
    right: 120px;
  }

  .userIcon img {
    width: 30px;
    height: auto;
  }
  .cartIcon {
    display: block;
    position: absolute;
    right: 60px;
  }

  .cartIcon img {
    width: 35px;
    height: auto;
  }
  .dropdownMenu {
    position: absolute;
    top: 80px; /* Ajusta según la altura de tu header */
    right: 60px; /* Ajusta según tu diseño */
    background-color: white;
    border: 2px solid #00843d;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
  }

  .menuButton {
    display: flex;
    flex-direction: column;
    background: #00843d;
    color: white;
    border: solid;
    border-radius: 30px;
    padding: 7px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    width: 100px;
  }
}
