.hamburgerMenu {
  display: none;
}
@media screen and (max-width: 1024px) {
  .hamburgerMenu {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1000;
  }

  .hamburgerIcon {
    color: white;
    font-size: 40px;
    cursor: pointer;
  }

  .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    width: 100%;
    text-align: center;
  }

  .menu.open {
    display: block;
  }

  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
  }

  .menu li {
    padding: 10px;
  }

  .menu a {
    color: white;
    text-decoration: none;
  }

  .menu a:hover {
    background-color: #575757;
  }
}
@media screen and (max-width: 768px) {
  .hamburgerMenu {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1000;
  }

  .hamburgerIcon {
    color: white;
    font-size: 40px;
    cursor: pointer;
  }

  .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    width: 100%;
    text-align: center;
  }

  .menu.open {
    display: block;
  }

  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
  }

  .menu li {
    padding: 10px;
  }

  .menu a {
    color: white;
    text-decoration: none;
  }

  .menu a:hover {
    background-color: #575757;
  }
}
