.modalCard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenidoMod {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 20px;
  border: 3px solid #01ac5c;
  font-family: "Montserrat";
  max-width: 500px;
  width: 100%;
  text-align: center;
}
.contenidoMod img {
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
  margin: 10px 0;
}
.nombreSt {
  font-weight: 700;
}
.precioSp {
  color: #00843d;
  font-weight: 600;
}
.btnCerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #00843d;
}
.descripcion {
  border-radius: 10px;
  border: 2px solid #01ac5c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.btnAgregar {
  background: #01ac5c;
  color: white;
  font-family: "Be Vietnam Pro", sans-serif;
  padding: 10px 150px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
