.padreProds {
  width: 100%;
  padding: 20px;
  text-align: center;
}
.headerProds {
  display: flex;
  justify-content: space-between;
}
.headerProds h2 {
  color: #00843d;
}
.añadirProd {
  background-color: #01ac5c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  float: right;
  margin: 15px 0;
}
.añadirProd a {
  text-decoration: none;
  color: white;
}
.añadirProd:hover {
  background-color: #028d49;
}
.tableHeader {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
.headerTitles {
  display: grid;
  padding: 10px;
  grid-template-columns: 0fr 1.2fr 0.5fr 1fr 0.5fr 0.5fr 0.2fr;
  background-color: #01ac5c;
  border-radius: 10px;
  color: white;
}
.trListado {
  display: grid;
  grid-template-columns: 0fr 1fr 0.5fr 1fr 0.5fr 0.5fr 0.2fr;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid #01ac5c;
}
.trListado img {
  width: 50px;
  height: auto;
  justify-self: center;
}
.trListado div {
  display: flex;
}
.letraVer {
  color: #01ac5c;
}
.actionMenu {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.actionDropdown {
  display: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  border-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.actionDropdown a {
  padding: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.actionDropdown img {
  width: 20px;
  margin-right: 5px;
}
.actionDropdown a:hover {
  background-color: #f1f1f1;
  background-color: #00843e13;
}

.actionDropdown a.editar {
  width: 85%;
  color: green;
}

.actionDropdown a.eliminar {
  width: 85%;
  color: red;
}
.actionDropdown .eliminar:hover {
  background-color: rgba(255, 0, 0, 0.079);
}
.btnVer {
  margin-top: 60px;
  border: none;
  background-color: #01ac5c;
  color: white;
  cursor: pointer;
  border-radius: 40px;
  padding: 10px 20px;
}
.btnVer:hover {
  background-color: #028d49;
}

.dropdownRow {
  background-color: #fff;
  position: absolute;
  margin-left: 15%;
  margin-top: 75px;
}

.divCaracteristicas {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #00843d;
  font-family: "Roboto Condensed";
  box-sizing: border-box;
  margin-bottom: 30px;
  width: 580px;
  height: 205px;
}

.divCaracteristicas p {
  margin-left: 21px;
  color: #3a3a3a;
  width: 90%;
  text-align: left;
}

.caracteristicas {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
}

.caracteristicas img {
  height: 20px;
  width: 20px;
  margin-right: 7px;
  margin-left: 7px;
}

.caracteristicas label {
  margin-left: 15px;
  margin: 10px 20px 15px 15px;
  display: flex;
  justify-content: space-around;
  width: 150px;
}

input[type="radio"] {
  display: none;
}

.customRadio {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid green;
  border-radius: 5px;
  background-color: transparent;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

.saveBtnDiv{
  width: 100%;
  display: flex;
  justify-content: right;
}

@media screen and (max-width: 1400px) {
  .dropdownRow {
    margin-left: 3%;
  }
}
