/* HEADER */

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #36a543;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header-divs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
}
.slogan {
  font-size: 18px;
  margin-left: 10px;
}
.botones-header {
  margin-right: 30px;
}
.botones-header .button {
  background: none;
  border: 1px solid #000000;
  color: #070707;
  padding: 10px 40px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.botones-header .button:hover {
  background-color: #323232;
  color: white;
}

/* BODY */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h3 {
  color: #000000; /* cambiar segun paleta de colores */

}

.body-div{
  padding-top: 87px; /* esto es para que el body no quede atras del nav */
  height: calc(100vh - 87px); /* esta medida es relativa al padding-top */
  background-color: aqua; /* cambiar segun paleta de colores */
}

.total-width-y-center{
  width: 100%;
  text-align: center;
}