/* Tipografias */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* HEADER */

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #01AC5C;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header-divs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
}
.slogan {
  font-size: 18px;
  margin-left: 10px;
}
.botones-header {
  margin-right: 30px;
}
.botones-header .button {
  background: none;
  border: 1px solid #000000;
  color: #070707;
  padding: 10px 40px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.botones-header .button:hover {
  background-color: #323232;
  color: white;
}

/* BODY */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h3 {
  color: #000000; /* cambiar segun paleta de colores */
  margin: 0;
}

.body-div{
  padding-top: 87px; /* esto es para que el body no quede atras del nav */
  height: calc(100% - 87px); /* esta medida es relativa al padding-top. cambiarla a 100% cuando el contenido del body sea mas que el del largo de la pantalla */
  background-color: white;
}

/* CATEGORIAS Y BUSCADOR */

.categories-section{
  background-color: #D0FDD7;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories-section h3{
  margin-left: 5%;
  font-family: "Be Vietnam Pro";
  font-weight: 500;
  color: #00843D;
}

.categories-section input{ /* esto hace referencia al input del buscador */
  margin-right: 5%;
  border-radius: 30px;
  border: none;
  padding: 13px 13px 13px 33px;
  width: 20%;
}

/* CARDS DE PRODUCTOS */

.card{
  height: 400px;
  text-align: center;
  font-family: "Montserrat";
  background-color: #D0FDD7;
  border-radius: 50px;
  width: 25vw;
}

.card img{
  height: 250px;
}

.recomendaciones{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}