/* Tipografias */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* HEADER */

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #01ac5c;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header-divs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
}
.logo img {
  width: 155px;
  height: 80px;
}
.slogan {
  font-size: 18px;
  margin-left: 10px;
  color: white;
}
.nav-links {
  display: flex;
  align-items: center;
}

.nav-links ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  font-size: 20px;
  transition: color 0.3s;
}
.nav-links a:hover {
  color: rgb(209, 209, 209);
}
.botones-header {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.botones-header .login {
  color: white;
  font-family: "Be Vietnam", sans-serif;
  text-decoration: none;
  margin-right: 10px;
  font-size: 20px;
  transition: color 0.3s;
}
.botones-header .login:hover {
  color: rgb(209, 209, 209);
}
.botones-header .separator {
  border-left: 2px solid white;
  height: 40px;
  margin: 0 10px;
}

.botones-header .create-account a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  font-family: "Be Vietnam", sans-serif;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s;
}
.botones-header .create-account a:hover {
  color: rgb(209, 209, 209);
}

.create-account .part {
  line-height: 1.2;
}
/* .botones-header .button {
  background: none;
  border: 1px solid #000000;
  color: #070707;
  padding: 10px 40px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
} */

/* .botones-header .button:hover {
  background-color: white;
  color: #01ac5c;
} */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
} /* esto es del html del body del index.html */